$appBgColor:linear-gradient(90deg,red,orange,#ff0,green,#0ff,#00f,purple,red);
$transparent:transparent;
$white:#ffffff;
$black:#000000;
$dragItemBorderColor: #a6a7a5;
$dragItemBorderActiveColor: #2396ef;
$dragFillBorderActiveColor: #83beeb;
$dragItemBgColor:linear-gradient(135deg,#e8eaeb 10%,#efeff1 90%);
$dragItemBgActiveColor:linear-gradient(135deg,#63bbe7 10%,#0f73e6 90%);