* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(to right,#2396ef,#447eff);
}
#buttons {
    position: relative;
    text-align: center;
}
#buttons > button {
    display: inline-block;
    padding: 14px 18px;
    font-size: 18px;
    border-radius: 10px;
    background: linear-gradient(90deg,#0970c5,#064d86);
    color: #fff;
    outline: none;
    border:none;
    cursor: pointer;
    min-width: 8rem;
    margin: 15px;
}
#buttons > button:hover {
    opacity: .9;
}