@use "sass:color";
$transparent:transparent;
$white:#ffffff;
$black:#000000;
$leftBgColor:linear-gradient(to bottom,#eff1ef,#989997),
linear-gradient(to top,#e77864,#db3721),
linear-gradient(to right,#e7b364,#db9a21),
linear-gradient(to left,#64e764,#84db21);
$dropShadowColor:#0a4b8b;
$btnBgColor:#f2f3f4;
$btnBorderColor:#dedede;