@use "sass:color";
$transparent:transparent;
$white:#ffffff;
$black:#000000;
$appBgColor:linear-gradient(135deg,#8981ff 10%,#0d24ee 90%);
$pgBgColor:linear-gradient(135deg,#cd9aeb 10%,#c724e7 90%);
$pgBoxShadowColor:#a597f0;
$pgResultBgColor:linear-gradient(135deg,#f5cb9a 10%,#ee9b1f 90%);
$pgResultBtnBgColor:linear-gradient(135deg,#9ac5f5 10%,#1f8aee 90%);
$pgResultBtnBgActiveColor:linear-gradient(135deg,#7eb5f5 10%,#0c7ee7 90%);
$inputNumberBorderColor:#e9e9e9;
$inputNumberFontColor:#535455;