div,
body,
html {
  margin: 0;
  padding: 0;
  user-select: none;
}

.unicode-input,
.unicode-output {
  width: calc(50% - 24px);
  margin: 10px;
  height: 200px;
  padding: 15px 16px;
  border-radius: 15px;
  border: 1px solid #ededed;
  outline: none;
  box-sizing: border-box;
  word-break: break-all;
  overflow-x: hidden;
  overflow-y: auto;
  display: inline-block;
  user-select: text;
}

.unicode-input:focus {
  border: 1px solid #57a5ff;
  box-shadow: 0 0 -1px 2px #2137f8;
}

.unicode-input:empty:before,
.unicode-output:empty:before {
  color: #d4d4d4;
  content: attr(placeholder);
}

@media screen and (max-width: 750px) {
  .unicode-input,
  .unicode-output {
    width: calc(100% - 20px);
  }
}

.set-unicode-btn,
.get-unicode-btn,
.copy-unicode-btn {
  display: inline-block;
  max-width: 150px;
  height: 35px;
  border-radius: 3px;
  padding: 4px 8px;
  background-color: #4d4d4d;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.set-unicode-btn:hover,
.set-unicode-btn:active,
.get-unicode-btn:hover,
.get-unicode-btn:active,
.copy-unicode-btn:hover,
.copy-unicode-btn:active {
  background-color: #2391df;
}

::-webkit-scrollbar {
  width: 0;
}
