* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(135deg, #90dff7 10%, #3287cc 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.testimonial-container {
    background-image: linear-gradient(135deg, #288fbe 10%, #0b6fb1 100%);
    box-shadow: 0 -2px 11px #23c0fe;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
    color: #fff;
    border-radius: 15px;
}
.progress-bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    animation: grow 10s linear infinite;
    transform-origin: left;
}
.fa-quote {
    position: absolute;
    color:rgba(255,255,255,.4);
    top: 70px;
    font-size: 30px;
}
.fa-quote-right {
    left: 40px;
}
.fa-quote-left {
    right: 40px;
}
.testimonial {
    line-height: 28px;
    text-align: justify;
    margin:1em 0;
}
.user,.order {
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-content {
    margin-left: 15px;
    font-size: 25px;
    color: #46e6d6;
}
.user > .user-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}
.user > .user-details {
    margin-left: 10px;
}
.user > .user-details > .role {
    font-weight: normal;
    margin: 10px 0;
}
@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}
@media screen and(max-width:768px){
    .testimonial-container {
        padding: 20px 30px;
    }
    .fa-quote {
        display: none;
    }
}