* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.tp-h1 {
    margin: 10px 0 20px;
    font-size: 2.5em;
    text-align: center;
    color: #fff;
    text-shadow: #000 0px 2px 4px;
}
.tp-text-editor-wrap {
    display: block;
    margin: auto;
    max-width: 530px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 80%) 0px 20px 70px;
    clear: both;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.tp-title-bar {
    padding: 5px 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-shadow: rgb(255 255 255 / 80%) 0px 1px 0px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
    background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
    box-shadow: inset rgb(255 255 255 / 70%) 0px 1px 1px;
    border-bottom: #6a6a6a 1px solid;
}
.tp-text-body {
    height: 250px;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    color: #f0f0f0;
    text-shadow: #000 0px 1px 0px;
    font-family: "Consolas", "Courier New", "Courier";
    font-size: 1.45em;
    line-height: 1.40em;
    font-weight: 500;
    text-align: left;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.tp-element {
    margin-left: 8px;
}