* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color--:#dededf;
    --color_active--:#2396ef;
    --font_color--:#535455;
    --default_color--:#fff;
}
body,html {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container {
    width: 100%;
    text-align: center;
}
.progress-container {
    width: 100%;
    width: 350px;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
}
.progress-container::before{
    content: "";
    width: 100%;
    background-color:var(--color--);
}
.progress-container > .progress,.progress-container::before {
    height: 5px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.progress-container > .progress {
    background-color: var(--color_active--);
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.progress-container > .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--color--);
    width: 40px;
    height: 40px;
    color:var(--font_color--);
    border-radius: 50%;
    background-color: var(--default_color--);
    transition: all .35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.progress-container > .circle.active {
    border-color: var(--color_active--);
}
.prev,.next {
    outline: none;
    border: none;
    display: inline-block;
    background-color: var(--color--);
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--font_color--);
    transition: all .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}
.prev:active,.next:active {
    transform: scale(.9);
}
.prev.disabled,.next.disabled {
    cursor: not-allowed;
    background-color: var(--color--);
    color: var(--font_color--);
}
.prev.active,.next.active {
    background-color: var(--color_active--);
    color: var(--default_color--);
}
.next {
    margin-left: 15px;
}