* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    background: linear-gradient(180deg,#f3eac0,#daae20);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    padding:30px 40px;
    background: radial-gradient(#b1560b,#e7bf91,#eba140,#f3d9c0);
    border-radius: 15px;
}
.container > form > h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container > form > .form-control {
    position: relative;
    width: 350px;
    margin:20px 0 20px; 
    color: #fff;
    font-size: 16px;
}
.container > form > .form-control > input {
    width: 100%;
    display: block;
    border:none;
    border-bottom:3px solid #fff;
    background: transparent;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
    outline: none;
}
.container > form > .form-control > input:focus,
.container > form > .form-control > input:valid {
    border-color: #2396ef;
    color: #2396ef;
}
.container > form > .form-control > input:focus + label span,
.container > form > .form-control > input:valid + label span  {
    transform: translateY(-25px);
    color: #2396ef;
}
.container > form > .form-control > label {
    position: absolute;
    left: 0;
    top: 15px;
    color: #fff;
}
.container > form > .form-control > label > span{
    display: inline-block;
    min-width: 5px;
    font-size: 18px;
    transition: all .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.container > form > .form-control > .btn {
    width: 100%;
    display: inline-block;
    padding:16px 18px;
    color: #fff;
    outline: none;
    border-radius: 4px;
    border:1px solid #8e78ee;
    background-color: #7467e9;
    font-size: 18px;
    text-transform:capitalize;
    cursor: pointer;
}
.container > form > .form-control > .btn:hover {
    background-color: #2d20df;
    border-color: #2416dd;
}
.container > form > .form-control > a {
    text-decoration: none;
    color: #3e5ce6;
    font-size: 18px;
    text-transform: capitalize;
}