/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    height: 100vh;
    background:linear-gradient(120deg,#92bae4,#2396ef);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}