:root {
    --btn-default-color:transparent;
    --btn-default-border-color:#d8dbdd;
    --btn-default-font-color:#ffffff;
    --btn-default-hover-color:#fff;
    --btn-default-hover-border-color:#a19f9f;
    --btn-default-hover-font-color:#535455;
    /* 1 */
    --bg-first-radial-first-color:rgba(50, 4, 157, 0.271);
    --bg-first-radial-second-color:rgba(7,58,255,0);
    --bg-first-radial-third-color:rgba(17, 195, 201,1);
    --bg-first-radial-fourth-color:rgba(220,78,78,0);
    --bg-first-radial-fifth-color:#09a5ed;
    --bg-first-radial-sixth-color:rgba(255,0,0,0);
    --bg-first-radial-seventh-color:#3d06a3;
    --bg-first-radial-eighth-color:#7eb4e6;
    --bg-first-radial-ninth-color:#4407ed;
    /* 2 */
    --bg-second-radial-first-color:rgba(50, 4, 157, 0.41);
    --bg-second-radial-second-color:rgba(7,58,255,0.1);
    --bg-second-radial-third-color:rgba(17, 51, 201,1);
    --bg-second-radial-fourth-color:rgba(220,78,78,0.2);
    --bg-second-radial-fifth-color:#090ded;
    --bg-second-radial-sixth-color:rgba(255,0,0,0.1);
    --bg-second-radial-seventh-color:#0691a3;
    --bg-second-radial-eighth-color:#807ee6;
    --bg-second-radial-ninth-color:#07ede1;
    /* 3 */
    --bg-third-radial-first-color:rgba(50, 4, 157, 0.111);
    --bg-third-radial-second-color:rgba(7,58,255,0.21);
    --bg-third-radial-third-color:rgba(118, 17, 201, 1);
    --bg-third-radial-fourth-color:rgba(220,78,78,0.2);
    --bg-third-radial-fifth-color:#2009ed;
    --bg-third-radial-sixth-color:rgba(255,0,0,0.3);
    --bg-third-radial-seventh-color:#0610a3;
    --bg-third-radial-eighth-color:#c07ee6;
    --bg-third-radial-ninth-color:#9107ed;
    /* 4 */
    --bg-fourth-radial-first-color:rgba(50, 4, 157, 0.171);
    --bg-fourth-radial-second-color:rgba(7,58,255,0.2);
    --bg-fourth-radial-third-color:rgba(164, 17, 201, 1);
    --bg-fourth-radial-fourth-color:rgba(220,78,78,0.1);
    --bg-fourth-radial-fifth-color:#09deed;
    --bg-fourth-radial-sixth-color:rgba(255,0,0,0);
    --bg-fourth-radial-seventh-color:#7106a3;
    --bg-fourth-radial-eighth-color:#7eb4e6;
    --bg-fourth-radial-ninth-color:#ac07ed;
}
