@use "sass:color";
$transparent:transparent;
$white:#ffffff;
$black:#000000;
$appBgColor:linear-gradient(135deg,#ff81d9 10%,#ee0daa 90%);
$speedBgColor:linear-gradient(135deg,#ff8181 10%,#ee0d0d 90%);