* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(135deg, #f5f5f5 10%, #ececee 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
}
h2 {
    position: absolute;
    top: 10px;
    color:#9F44D3;
}
.range-container {
    position: relative;
}
input[type = "range"] {
    width: 300px;
    margin: 18px 0;
    -webkit-appearance: none;
    outline: none;
}
input[type = "range"] + label {
    position: absolute;
    left: 110px;
    top: -25px;
    width: 80px;
    padding: 5px 0;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    background-image: linear-gradient(135deg, #E2B0FF 10%, #9F44D3 100%);
    color: #fff;
}
/* chrome & safari */
input[type="range"]::-webkit-slider-runnable-track {
    background-image: linear-gradient(135deg, #E2B0FF 10%, #9F44D3 100%);
    width: 100%;
    height: 12px;
    cursor: pointer;
    border-radius: 4px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #d9e2e6 10%, #e4e1e4 100%);
    border: 1px solid #b233e4;
    cursor: pointer;
    margin-top: -6px;
}
/* firefox */
input[type="range"]::-moz-range-track {
    background-image: linear-gradient(135deg, #E2B0FF 10%, #9F44D3 100%);
    width: 100%;
    height: 13px;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #d9e2e6 10%, #e4e1e4 100%);
    border: 1px solid #b233e4;
    cursor: pointer;
    margin-top: -6px;
}
/* IE */
input[type="range"]::-ms-range-track {
    background-image: linear-gradient(135deg, #E2B0FF 10%, #9F44D3 100%);
    width: 100%;
    height: 13px;
    cursor: pointer;
}
input[type="range"]::-ms-range-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-image: linear-gradient(135deg, #d9e2e6 10%, #e4e1e4 100%);
    border: 1px solid #b233e4;
    cursor: pointer;
    margin-top: -6px;
}