.pokedex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
}
.pokedex-title {
    text-align: center;
    color: #1328e4;
    margin: 2rem;
    font-size: 3rem;
    letter-spacing: 3px;
}
.pokedex {
    border-radius: 10px;
    text-align: center;
    color: #d4d3d2;
    padding: 20px;
    text-align: center;
    margin: 8px;
    box-shadow: 0 2px 15px rgba(0,0,0,.2);
}
.pokedex-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.7);
    text-align: center;
    cursor: pointer;
    transition: scale 2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pokedex-avatar:hover {
    transform: scale(1.2);
}
.pokedex-avatar > img {
    margin-top: 20px;
    max-width: 90%;
}
.pokedex-info {
    margin-top: 1.2rem;
    color: #232425;
}
.pokedex-number {
    color: #4150dd;
    padding: 4px 12px;
    font-size: 1.2em;
    background-color: rgba(0,0,0,.25);
    border-radius: 10px;
}
.pokedex-name {
    margin: 14px 0 8px;
    letter-spacing: 1px;
    color: #2396ef;
}
.pokedex-type {
    font-size: 14px;
}
.pokedex-type > span {
    color: #dd875d;
    font-size: 15px;
    margin-left: 0.4rem;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #98a1f5;
}
::-webkit-scrollbar-thumb {
    width: 4px;
    height: 4px;
    background-color: #964aec;
}