/*
* 功能:图片画廊
* 作者:eveningwater
* 日期:2017/9/5
*/
body,
html,
div,
main,
section,
header,
footer,
ul,
li,
button,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
figure,
img,
a {
	margin: 0;
	padding: 0;
}

body,
html,
div,
main,
section,
header,
footer,
ul,
li,
button,
span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
figure,
img,
a {
	box-sizing: border-box;
}

body {
	background-color: #feefee;
}

.fullscreen {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.gallery-item {
	width: 200px;
	position: absolute;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	background-color: #fff;
	cursor: pointer;
	transition: all .6s cubic-bezier(0, 0, .39, .66);
	border-radius: 5px;
}

.gallery-item>img {
	height: auto;
	max-width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
}

.gallery-item>span {
	font-family: Comic Sans, Comic Sans MS, cursive;
	color: #8F8476;
}

.navbar {
	width: 100%;
	position: fixed;
	padding: 10px;
	text-align: center;
	background-color: #8F8476;
	z-index: 999;
	bottom: 0;
}

.navbar>button {
	padding: 8px 6px;
	background-color: transparent;
	transition-duration: 0.5s;
	color: #fff;
	border: 2px solid #f2f2f2;
	text-align: center;
	cursor: pointer;
	outline: none;
}

.navbar>button:hover {
	background-color: #be0a0a;
}