<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>element ui 下拉单选多选组件的封装</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="app">
      <el-box-select v-model="selectForm.single" placeholder="请选择一个人物" :select-list="selectSingleData" :select-props="singleProps"></el-box-select>
      <el-box-select v-model="selectForm.more" placeholder="请选择一个或多个人物" :select-list="selectMoreData" multiple></el-box-select>
      <hr>
      <p>你选择的是(单选):{{ getSelectFormLabel.single }}</p>
      <p>你选择的是(多选):{{ getSelectFormLabel.more }}</p>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./el-checkbox-select.js"></script>
<script src="./app.js"></script>

</html>