body,html,div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background: linear-gradient(135deg,#535455 10%,#232225 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}
.card {
    width: 80px;
    height: 100px;
    display: flex;
    margin: 10px 0 0 10px;
    border-radius: 3px;
    background: linear-gradient(135deg,#f7f7f7 10%,#d3d3d3 90%);
}
.card-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(135deg,#ec6960 10%,#dd331d 90%);
}
.card-1 {
    justify-content: center;
    align-items: center;
}
.card-2 {
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.card-3 {
    justify-content: space-between;
    padding: 5px;
    flex-direction: column;
}
.card-3 > .card-item:nth-child(2) {
    align-self: center;
}
.card-3 > .card-item:last-child {
    align-self: flex-end;
}
.card-4 {
    flex-wrap: wrap;
    align-items: center;
}
.card-4 > .card-item {
    margin: 15px 10px;
}
.card-5 {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card-5 > .card-item:nth-child(3) {
    margin:0 30px;
}
.card-6 {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card-6 > .card-item {
    margin:0 10px;
}
.card-7 {
    flex-direction: column;
    padding: 5px;
}
.card-7 > .card-top,.card-7 > .card-bottom {
    width: 100%;
    display: flex;
    height: 50px;
    margin: 0;
    justify-content: space-between;
    padding: 3px;
}
.card-7 > .card-top > .card-item:nth-child(2) {
    align-self: center;
}
.card-7 > .card-top > .card-item:last-child {
    align-self: flex-end;
}
.card-7 > .card-bottom {
    flex-wrap: wrap;
    padding: 0 12px;
}
.card-8 {
    flex-wrap: wrap;
    align-items: center;
}
.card-8 > .card-item {
    margin: 0 10px;
}
.card-9 {
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}