@use "sass:color";
$transparent:transparent;
$white:#ffffff;
$black:#000000;
$appBgColor:linear-gradient(135deg,#cd81ff 10%,#a70dee 90%);
$heartBgColor:#e20b1a;
$countColor:#3112e4;
$btnBgColor:linear-gradient(135deg,#db7edb 10%,#aa15d8 90%);
$btnHoverBgColor:linear-gradient(135deg,#d07edb 10%,#9a15d8 90%);