* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: linear-gradient(135deg, #e3eefc 10%, #a2b0b1 100%);
    height: 100vh;
}
.container {
    box-shadow: 0 3px 12px #153b52;
    padding: 2em;
    border: 3px solid #616152;
    border-radius: 15px;
    max-width: 1200px;
    height: 600px;
    overflow: auto;
    text-align: center;
    background-image: linear-gradient(135deg, #fcf3e3 10%, #afb1a2 100%);
}
h2 {
    color: #535455;
    letter-spacing: 2px;
    margin: 1em 0;
}
p {
    color: #5f615f;
    line-height: 1.5;
}
.code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 40px 0;
}
.code-container .code{
    border: 2px solid #defdda;
    width: 100px;
    height: 100px;
    margin: 1%;
    font-size: 2.5em;
    text-align: center;
    font-weight: 400;
    border-radius: 4px;
    display: inline-block;
    outline: none;
}
.code-container .code:focus {
    border-color: #2397ef;
}
.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.code:valid {
    border-color: #034775;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}
small {
    display: inline-block;
    color: #26282b;
    max-width: 400px;
    background-image: linear-gradient(135deg, #fce9e3 10%, #b1a4a2 100%);
    padding: 15px;
    border-radius: 8px;
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}