:focus:focus-visible {
    outline: none;
}
.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(135deg,#f1ca75 10%,#e6990c 90%);
}
.fd-panel {
    background: #fff;
    box-shadow: 0 2px 12px rgba(0,0,0,.4);
    font-size: 90%;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    border-radius: 10px;
}
.fd-send-page,.fd-receive-page {
    transition: display .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: none;
}
.fd-send-page.fd-send-show,.fd-receive-page.fd-receive-show {
    display: block;
}
.fd-send-title,.fd-receive-title {
    color: #f34216;
    line-height: 22px;
}
.fd-send-rating-container {
    display: flex;
    margin: 20px 0;
}
.fd-send-rating {
    flex: 1;
    cursor: pointer;
    margin: 20px 5px;
    padding: 20px;
}
.fd-send-rating.fd-send-rating-active {
    border-radius: 8px;
    box-shadow: 0 3px 12px rgba(0,0,0,.42);
}
.fd-send-rating-icon {
    width: 40px;
    height: 40px;
}
.fd-send-text,.fd-receive-text {
    display: inline-block;
    margin: 10px 0 0;
    color: #354701;
}
.fd-btn {
    background: linear-gradient(135deg,#dd9f19 10%,#e63f0c 90%);
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}
.fd-btn:hover {
    background: linear-gradient(135deg,#ebb135 10%,#ec4f20 90%);
}
.fd-receive-heart {
    width: 25px;
    height: 25px;
    background-color: #e63f0c;
    position: relative;
    transform: rotate(45deg);
    margin: 1rem auto;
}
.fd-receive-heart::after,.fd-receive-heart::before {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    background-color: #e63f0c;
}
.fd-receive-heart::before {
    left: -15px;
    top: 0;
}
.fd-receive-heart::after {
    top: -15px;
    left: 0;
}
.fd-receive-mark-text {
    color: #c4ee46;
    margin-left: 8px;
}
.fd-receive-content {
    line-height: 1.5;
    margin: 1rem 0;
    color: #969798;
}