* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-btn {
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 25px;
    color: #fff;
}
.nav-btn.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}
.nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: translateX(-100%);
}
.nav.nav-first {
    width: 60%;
    max-width: 480px;
    min-width: 320px;
    transition-delay: .4s;
    background-image: linear-gradient(135deg, #FCCF31 10%, #F55555 100%);
}
.nav.nav-second {
    width: 95%;
    background-image: linear-gradient(135deg, #FEC163 10%, #DE4313 100%);
    transition-delay: .2s;
}
.nav.nav-third {
    position: relative;
    width: 95%;
    padding: 40px;
    transition-delay: 0s;
    background-image: linear-gradient(135deg, #e99a2b 10%, #e4562b 100%);
}
.nav.visible {
    transform: translateX(0);
}
.nav.nav-first.visible {
    transition-delay: 0s;
}
.nav.nav-second.visible {
    transition-delay: .2s;
}
.nav.nav-third.visible {
    transition-delay: .4s;
}
.content {
    background-image: linear-gradient(135deg, #ebd277 10%, #da3131 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.content img{
    width: 150px;
    border-radius: 50%;
}
.content .text {
    margin-top: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
    color: #fff;
}
.close-btn {
    position: absolute;
    opacity: .3;
    top: 40px;
    right: 10px;
}
.logo {
    width: 80px;
    border-radius: 50%;
}
.list {
    list-style: none;
}
.list li {
    margin: 20px 0;
}
.list li a,.list li{
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #f6f7f8;
}
.list li a:hover,.list li:hover {
    color: #2396ef;
}
.list ul {
    padding-left: 20px;
}