:focus:focus-visible {
    outline: none;
}
.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(135deg,#395461 10%,#0b1a79 90%);
    padding: 1em;
}
.va-container {
    box-shadow: 0 3px 12px #6273df;
    max-width: 1200px;
    padding: 2em;
    border-radius: 15px;
    border: 3px solid #535455;
    background: linear-gradient(135deg,#5db1db 10%,#455ae0 90%);
    text-align: center;
}
.va-h2 {
    letter-spacing: 2px;
    margin: 1em 0;
    color: #fff;
}
.va-content {
    color: #fefefe;
    line-height: 1.5;
}
.va-code-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.va-code {
    border: 2px solid #f1f2f3;
    border-radius: 4px;
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 2em;
    text-align: center;
    display: inline-block;
    margin: 1%;
    font-weight: 400;
}
.va-code::-webkit-outer-spin-button,
.va-code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.va-code:focus {
    border-color: #091fb1;
}
.va-code:valid {
    border-color: #d18718;
    box-shadow: 0 3px 12px #da9c28;
}
.va-footer {
    display: inline-block;
    color: #ececec;
    background: linear-gradient(135deg,#63a6e4 10%,#1082df 90%);
    max-width: 400px;
    border-radius: 6px;
    padding: 20px;
}