:root {
    --light-color:#f2f3f4;
    --dark-color:#232425;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.app,.btn-group > .btn{
    background-color: var(--light-color);
    color: var(--dark-color);
}
.app.dark,.dark > .btn-group > .btn {
    background-color: var(--dark-color);
    color: var(--light-color);
}
.dark > .btn-group > .btn {
    box-shadow: 2px 3px 5px var(--light-color);
}
.dark .clock {
    background: var(--dark-color);
    border-color: var(--light-color);
}
.dark .clock .center-point::after {
    background: var(--light-color);
}
.dark .date .circle {
    background-color: var(--light-color);
    color:var(--dark-color);
}
.btn-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 350px;
}
.btn-group > .btn {
    outline: none;
    display: inline-block;
    padding: 14px 20px;
    border: none;
    box-shadow: 2px 3px 5px var(--dark-color);
    border-radius: 8px;
    cursor: pointer;
}
.btn-group > .btn:hover {
    transform: scale(1.05);
}
.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.clock {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: var(--light-color);
    border: 1px solid var(--dark-color);
    position: relative;
    margin: 15px 0;
}
.clock .needle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 55px;
    transform-origin: bottom center;
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
    background: linear-gradient(135deg,#e2cd87 10%,#ecb709 90%);
}
.clock .needle.minute {
    background: linear-gradient(135deg,#aaebf3 10%,#0caceb 90%);
    height: 75px;
}
.clock .needle.second {
    background: linear-gradient(135deg,#e28d87 10%,#da0f08 90%);
    height: 95px;
}
.clock .center-point,.clock .center-point::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}
.clock .center-point {
    width: 10px;
    height: 10px;
    background: linear-gradient(135deg,#5ee429 10%,#32da08 90%);
}
.clock .center-point::after {
    content: "";
    width: 5px;
    height: 5px;
    background: var(--dark-color);
}
.time {
    font-size: 35px;
    margin: 15px 0;
}
.date {
    font-size: 15px;
}
.date .circle {
    width: 22px;
    height: 22px;
    background-color: var(--dark-color);
    color:var(--light-color);
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    vertical-align: text-top;
    display: inline-block;
    margin: 0 3px 2px;
}