* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    overflow:hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #2396ef;
}
.main > .header {
    width: 100%;
    height: 5rem;
    background-color: #02254b;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}
.main > .header > .search {
    outline: none;
    border:2px solid #137beb;
    box-shadow: 0 3px 4px #2396ef;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    padding: .2rem 1.5rem;
    font-size: 1rem;
}
.main > .header > .search::-webkit-input-placeholder {
    color: #3b5cee;
    font-size: 18px;
}
.main > .movie-list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 5rem);
    padding:15px 0;
}
.main > .movie-list > .movie {
    width: calc(25% - 2.4rem);
    overflow: hidden;
    margin:1.2rem;
    box-shadow: 0 4px 5px #137beb;
    position: relative;
    background-color: #0727b8;
    border-radius: 5px;
    cursor: pointer;
}
.main > .movie-list > .movie > img {
    display: block;
    width: 100%;
}
.main > .movie-list > .movie > .movie-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1.2rem 1.5rem;
    color: #fff;
}
.main > .movie-list > .movie > .movie-info > h3 {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.main > .movie-list > .movie > .movie-info > .movie-score {
    padding:.3rem .4rem;
    background-color: #031a27;
    border-radius: 4px;
    font-weight: bold;
}
.main > .movie-list > .movie > .movie-info > .movie-score.green {
    color:#4ce21f;
}
.main > .movie-list > .movie > .movie-info > .movie-score.red {
    color:#ec3d3d;
}
.main > .movie-list > .movie > .movie-info > .movie-score.orange {
    color: #eba015;
}
.main > .movie-list > .movie > .movie-overview {
    position: absolute;
    transition: transform .3s ease-in-out;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background:linear-gradient(to bottom,#f2f3f4,#e1e2e3);
    padding:1.5rem;
    transform:translateY(101%);
    max-height: 100%;
}
.main > .movie-list > .movie > .movie-overview > h3 {
    text-align: center;
    color: #535455;
    margin:.5rem 0;
}
.main > .movie-list > .movie > .movie-overview > p {
    line-height: 1.5;
    word-break: break-all;
    padding: 5px;
    color: #363738;
}
.main > .movie-list > .movie:hover .movie-overview{
    transform:translateY(25%);
}
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background: #81c2f3;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: #0b4877;
}
@media screen and (max-width:600px){
    .main > .movie-list::after {
        content:"";
        clear: both;
        height: 0;
        visibility: hidden;
        display: table;
    }
    .main > .movie-list > .movie {
        width: 100%;
        float: left;
    }
}