* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 15px;
}
.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}
.wrap-item {
    background: linear-gradient(135deg,#f7d197 10%,#e7890e 90%);
    font: bold 25px / 25px "微软雅黑";
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    left: 0;
    top: 0;
}
.wrap-item-1 {
    height: 200px;
}

.wrap-item-2 {
    height: 250px;
}

.wrap-item-3,
.wrap-item-5,
.wrap-item-7 {
    height: 200px;
}

.wrap-item-4,
.wrap-item-10 {
    height: 150px;
}

.wrap-item-6{
    height: 240px;
}
.wrap-item-9 {
    height: 100px;
}

.wrap-item-8 {
    height: 250px;
}
.wrap-item-img {
    width: 100%;
    border-radius: 8px;
    vertical-align: bottom;
    height: 100%;
}
::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}
::-webkit-slider-thumb {
    border-radius: 3px;
    background-color: #fefdfe;
}