@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    overflow: hidden;
    background: linear-gradient(135deg,#9cc8e9 10%,#0b6be0 90%);
    min-height: 100vh;
}
.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
    position: relative;
    overflow: hidden;
}
.screen.hidden {
    margin-top: -100vh;
}
.screen h1,.screen h2 {
    letter-spacing: 2px;
    margin-bottom: 1rem;
    line-height: 1.5;
}
.screen .btn {
    background: linear-gradient(135deg,#dfe0e2 10%,#f6f7f7 90%);
    outline: none;
    border-radius: 8px;
    padding: .8rem 4rem;
    color: #2396ef;
    display: inline-block;
    border: 1px solid transparent;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 18px;
}
.screen .btn.play {
    margin-top: 1rem;
}
.screen .btn:hover {
    opacity: .8;
}
.screen .inspect-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    overflow: hidden;
    overflow-y: auto;
}
.screen .inspect-list li {
    margin: 10px;
}
.screen .inspect-list li .choose-btn {
    background: transparent;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    cursor: pointer;
    color: #fff;
    padding: 5%;
}
.screen .inspect-list li .choose-btn:hover {
    background: linear-gradient(135deg,#f1f1f1 10%,#ffffff 90%);
    color: #2396ef;
}
.screen .inspect-list li .choose-btn p {
    margin: .6rem 0;
}
.screen .inspect-list li .choose-btn img,.screen .insect img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.screen .insect {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%,-50%) scale(1);
    transition: transform .5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.screen .insect.caught{
    transform: translate(-50%,-50%) scale(0);
}
.screen .time,.screen .score {
    position: absolute;
    top: 15px;
    font-size: 14px;
}
.screen .time span,.screen .score span {
    font-size: 16px;
    color: #ec4141;
    display: inline-block;
    vertical-align: text-top;
    margin-left: 5px;
}
.screen .time {
    left: 15px;
}
.screen .score {
    right: 15px;
}
.screen .message {
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background: linear-gradient(to bottom,rgba(0,0,0,.4) 10%,rgba(0,0,0,.6) 90%);
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2rem;
    border-radius: 15px;
    line-height: 2;
    opacity: 0;
    z-index: 1000;
    display: none;
}
.screen .message.show {
    transform: translate(-50%,-50%);
    opacity: 1;
    display: block;
}
.screen .message .continue-btn {
    margin: 0.7rem 0;
}
.tab-container {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 100;
}
.tab-container .tab-item {
    padding: .6rem 1rem;
    background: linear-gradient(135deg,#f1f1f1 10%,#ffffff 90%);
    color: #2396ef;
    cursor: pointer;
}
.tab-container .tab-item:hover,.tab-container .tab-item.active {
    background: linear-gradient(135deg,#6a92e9 10%,#2b11c4 90%);
    color: #fff;
}
.tab-container .tab-item:first-of-type {
    border-radius: 4px 0 0 4px;
}
.tab-container .tab-item:last-of-type {
    border-radius: 0 4px 4px 0;
}
@media screen and (max-width:600px){
    .screen .time span, .screen .score span {
        font-size: 12px;
    }
}