* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    transition: all .6s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
.nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background:linear-gradient(to bottom,#3b372d,#1a1301);
}
.nav > .container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav.active {
    background:linear-gradient(to bottom,#f3f2f1,#d1d1cf);
    box-shadow: 0 4px 2px #1a1301;
}
.nav.active > .container > .left-logo a,.nav.active > .container > .nav-list li a{
    color: #535455;
}
.nav > .container .nav-menu {
    display: none;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.nav > .container .nav-menu:hover path{
    fill:#e9543a;
}
.nav > .container > .left-logo a {
    color: #fff;
    padding: 8px 12px;
    letter-spacing: 2px;
}
.nav > .container > .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav > .container > .nav-list li a {
    color: #fff;
    margin:0 8px;
}
.nav > .container > .left-logo a:hover,
.nav > .container > .nav-list li a:hover {
    color: #e9543a;
}
.main {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-image: url("https://www.eveningwater.com/static/page/CSS/css-code-50-image/comic-girl-01.jpg");
    height: 100vh;
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    z-index: -2;
}
.main > .container > h1 {
    margin-bottom: 15px;
    letter-spacing: 3px;
    font-family: "幼圆","楷体";
}
.main > .container > p {
    line-height: 1.5;
    font-size: 15px;
    text-indent: 2em;
}
.content h2{
    font-size: 160%;
    color: #535455;
    letter-spacing: 1.2px;
    counter-increment: articleOrder;
}
.content h2::before {
    content:counter(articleOrder);
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    color: #fff;
    background: radial-gradient(circle at 5% 25%,#748ee2,#2a80c7);
    margin-right: 10px;
    vertical-align: text-top;
}
.content article {
    margin: 1.2rem 0;
}
.content article p {
    color: #232425;
    line-height: 30px;
    text-indent: 2em;
    margin-bottom: 8px;
}
@media (max-width:500px) {
    .nav > .container .nav-menu {
        display: block;
    }
    .nav > .container > .nav-list {
        position: absolute;
        right: 0;
        width: 0;
        display: none;
        background-color: #ffffff;
        padding: 20px;
        top: 70px;
        transition: all 3s ease-out;
    }
    .nav > .container > .nav-list li a {
        color: #535455;
        width: 100%;
        display: block;
        margin: .8rem 0;
    }
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background:linear-gradient(to bottom,#3b372d,#1a1301);
}
::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background:linear-gradient(to bottom,#dfc689,#daa217);
}