@use "sass:list";
* {
    @extend .bs-border-box,
    .reset;
}

body,
html {
    @extend .over-hidden;
    .app {
        font-family: $font-family;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        @include background($appBgColor);
        @extend .over-hidden,.over-y-auto;
        @include setComponent(height,100,vh);
        .#{$baseSelector}header {
            @include setComponentPercent(width,100);
            @include setComponent(height,3,rem);
            @include setComponent(top,0,null);
            @include setComponent(left,0,null);
            @extend .el-display-flex,.el-jc-flex-end,.el-ai-flex-end,.el-pos-f;
            &-add-btn {
                text-transform: capitalize;
                @include setComponent(margin-right,1,rem);
                &-icon {
                    @include setComponent(margin-right,6,px);
                }
            }
        }
        .#{$baseSelector}note-container {
            @extend .el-display-flex,.flex-wrap,.el-pos-r;
            @include setComponent(top,3,rem);
        }
    }
}