* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carousel-container {
    box-shadow: 0 3px 5px 14px rgba(0,0,0,.4);
    max-width: 100%;
    width: 500px;
    overflow: hidden;
}
.carousel {
    display: flex;
    transform: translateX(0);
    transition: transform .4s ease-in-out;
}
.carousel img {
    width: 100%;
    height: 470px;
    object-fit: cover;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
}
.buttons-container .btn {
    width: 50%;
    display: inline-block;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: .5rem;
    outline: none;
    background-image: linear-gradient(135deg, #F761A1 10%, #8C1BAB 100%);
}
.buttons-container .btn:hover {
    background-image: linear-gradient(135deg, #c7236a 10%, #590770 100%);
}