:focus:focus-visible {
    outline: none;
}
.app {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg,#64a2e0 10%,#2396ef 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-generator {
    width: 350px;
    max-width: 100%;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(135deg,#b264e0 10%,#b20dd3 90%);
    box-shadow: 1px 2px 17px #3b20d4;
}
.result-container {
    display: flex;
    justify-content: flex-start;
    height: 45px;
    padding: 8px 20px;
    position: relative;
    background: linear-gradient(135deg,#e0a664 10%,#d3840d 90%);
    border-radius: 5px;
    color: #fff;
}
.clipboard-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    background: linear-gradient(135deg,#64a4e0 10%,#0d73d3 90%);
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}
.clipboard-btn:hover {
    opacity: .94;
}
.clipboard-icon {
    width: 80%;
    height: 80%;
    display: block;
}
.setting-container {
    padding: 20px 0;
}
.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 35px;
    color: #fff;
}
.setting-item [type="number"]{
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #e5e7e9;
    color: #535455;
    border-radius: 5px;
    font-size: 14px;
    max-width: 80px;
}
.generate-btn {
    display: inline-block;
    padding: 14px 20px;
    border-radius: 6px;
    background: linear-gradient(135deg,#85b4e0 10%,#095caa 90%);
    border: none;
    box-shadow: -2px 3px 12px #0c0361;
    color: #fff;
    font-size: 15px;
    width: 100%;
    transition: background .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;
}
.generate-btn:hover {
    background: linear-gradient(135deg,#63a8e9 10%,#03417a 90%);
}