
/**
* 差不多快要完成了,心情有点激动,哈哈哈.给编辑器加点阴影效果.
*/
pre:hover{
	box-shadow: 0px 0px 40px 5px rgba(92, 212, 101, 0.83);
}
/*
* 动画要加载完成了,当然得移除左下角两个按钮.
*/
#skip-animation, #pause {
	display: none;
}

/**
* 我希望你能喜欢这个网站.
*
* 这个网站是我模仿别人写的,原网站是一个英文网站,网址:http://strml.net.
* 就一个页面,看起来就像这样....当然其实他也是模仿别人的,具体就去看他写的吧.
* 原来代码还可以这样干事,挺不错的.
*
* 当然想要看到第一个写出这种效果的网站,就去看看这个网站吧,网址:http://codepen.io/jakealbaugh/
*/

/**
* 顺便说一下, 你还可以编辑这个编辑器. 尝试着添加一些新的css样式吧!
*
* 比如说,
*
* 加点文本阴影text-shadow:
* 'x', 'y', 'blur', 'color'.
*
* 而且也可以把字体变大,看着舒服一些,
* 我就添加了文本阴影效果,
* 让我们看看效果吧:
*/

.value {
	text-shadow: 0px 25px 1px #9f9a9a;
}

/**
* 尝试一下吧!你还可以做更多的事情.
* 加点文本阴影,改变字体效果,加点动画,等等.....
* 或者填充这个页面,我不会反对你的.......
* 最后,让我们听首歌,歌名(下雪的季节,歌手本兮)放松下心情....
* 先加个按钮控制音乐的播放和暂停......
*/
#music {
	background: url(./img/musicIcon.svg)no-repeat center/cover;
	display: block;
	cursor: pointer;
}
/*
* 嗯,然后给这个按钮加点动画效果,最后再播放音乐.
* 友情提示,不想听音乐,点击这个按钮暂停就是啦!
*/
.rotate{
	animation: rotate 5s linear infinite;
}
/*
* 加点旋转动画,就这么简单.....
*/
@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}
/*
* 准备好洗耳恭听吧,倒数5.
* 4...
* 3...
* 2...
* 1...
* 好了,音乐开始......
*/

