
/**
* 这编辑器这样看着很没意思,嗯,不如加点翻转动画吧.
* 不仅如此,我还要将这个编辑器打造成html模板.
* 请注意看接下来我要...
*/

#work-text.flipped {
	transform: rotateX(0deg) rotateY(190deg) rotateZ(180deg);
}

#work-text .md {
	transform: rotateY(190deg) rotateZ(180deg);
	margin-top: 800px;
}

/**
* 好了,开始准备.......
*
* 3...
* 2...
* 1...
*
* .
* ....假装是你在写代码.
*
* 好了,让我们一起来拭目以待吧!
* 哈,有没有看到左边编辑器忽然翻转了,这并不奇怪,说明添加的翻转动画已经成功啦.
* 而且最重要的是,他是一个html页面哈哈!
*/
