/*
* 功能:公共css
* 作者:eveningwater
* 日期:2017/8/17
*/
body,html,div{
	margin: 0;padding: 0;
	box-sizing: border-box;
}
body{
	overflow: hidden;
	background-color: #ffffff;
}
#canvas {
	width: 100%;
	height: 600px;
	position: relative;
	overflow: hidden;
}
#canvas div{
	position: absolute;
	/*动画持续时间*/
	animation-iteration-count: infinite;
	/*动画速度*/
	animation-timing-function: linear;
}
#canvas:target div:not(.overlay){
	border: 1px solid #000;
}
#canvas:target div:hover .me div{
	background-color: rgba(255, 255, 255, 0.33);
}
.me{
	top: 50px;left: 50%;
	/*动画名称*/
	animation-name: me;
}
.me,.me div{
	background-repeat: no-repeat;
	/*动画执行时间*/
	animation-duration: 1.77s;
}
.torso {
	width: 90px;
	height: 300px;
	background-image: url(../images/me/torso.png);
}
.arm {
	left: 12px;
	transform-origin: 20px 10px;
}
.right.arm{
	top: 93px;
	animation-name: right-bicep;
}
.left.arm{
	top: 87px;
	animation-name: left-bicep;
}
.bicep {
	width: 55px;height: 125px;
}
.right.bicep {
	background-image: url(../images/me/right-bicep.png);
}
.left.bicep {
	background-image: url(../images/me/left-bicep.png);
}
.forearm {
	top: 108px;left: 14px;
	width: 40px;height: 124px;
	transform-origin: 3px 7px;
}
.right.forearm {
	background-image: url(../images/me/right-forearm.png);
	animation-name: right-forearm;
}
.left.forearm {
	background-image: url(../images/me/left-forearm.png);
	animation-name: left-forearm;
}
.leg {
	left: 6px;
	transform-origin: 30px 20px;
	animation-name: thigh;
}
.right.leg {
	top: 235px;
	animation-name: right-thigh;
}
.left.leg {
	top: 225px;
	animation-name: left-thigh;
}
.thigh {
	width: 70px;height: 145px;
}
.right.thigh {
	background-image: url(../images/me/right-thigh.png);
}
.left.thigh {
	background-image: url(../images/me/left-thigh.png);
}
.shin {
	top: 115px;
	width: 50px;height: 170px;
	background-image: url(../images/me/shin.png);
	transform-origin: 30px 25px;
}
.right.shin{
	animation-name: right-shin;
}
.left.shin {
	animation-name: left-shin;
}
.foot{
	left: 2px;top: 155px;
	width: 70px;height: 35px;
	background-image: url(../images/me/foot.png);
	transform-origin: 0 50%;
}
.right.foot{
	animation-name: right-foot;
}
.left.foot{
	animation-name: left-foot;
}
.toes {
	left: 66px;top: 9px;
	width: 30px;height: 25px;
	background-image: url(../images/me/toes.png);
	transform-origin: 0 100%;
}
.right.toes{
	animation-name: right-toes;
}
.left.toes {
	animation-name: left-toes;
}
.shadow {
	width: 200px;height: 70px;
	left: 270px;bottom: 5px;
	animation-name: shadow;
}
div.right.arm{
	z-index: 1;
}
div.left.arm{
	z-index: -3;
}
div.arm > div.bicep > div.forearm{
	z-index: -1;
}
div.right.leg{
	z-index: -1;
}
div.left.leg{
	z-index: -2;
}
div.leg > div.thigh > div.shin{
	z-index: -1;
}
.overlay {
	width: 100%;height: 100%;
	background: url(../images/misc/gradient-left.png) repeat-y top left,
				url(../images/misc/gradient-right.png) repeat-y top right;
}
.sky div{
	background-repeat: no-repeat;
	animation-name: prop-1200;
}
.cloud-1,.cloud-2 {
	width: 90px;height: 90px;
	animation-duration: 120s;
	background-image: url(../images/clouds/1.png);
}
.cloud-3,.cloud-4 {
	width: 160px;height: 90px;
	background-image: url(../images/clouds/2.png);
	top: 70px;
	animation-duration: 80s;
}
.cloud-5,.cloud-6 {
	width: 290px;height: 65px;
	top: 30px;
	background-image: url(../images/clouds/3.png);
	animation-duration: 140s;
}
.cloud-7,.cloud-8 {
	width: 100px;height: 85px;
	top: 100px;
	background-image: url(../images/clouds/4.png);
	animation-duration: 90s;
}
.cloud-1 {
	left: 0;
}
.cloud-2 {
	left: 1200px;
}
.cloud-3 {
	left: 250px;
}
.cloud-4 {
	left: 1450px;
}
.cloud-5 {
	left: 500px;
}
.cloud-6 {
	left: 1700px;
}
.cloud-7 {
	left: 950px;
}
.cloud-8 {
	left: 2150px;
}
.horizon {
	top: 350px;
	width: 1800px;
	height: 50px;
	background: url(../images/misc/horizon.png)repeat-x;
	animation-name: prop-600;
	animation-duration: 40s;
}
.ground div{
	background-repeat: no-repeat;
	animation-name: prop-2000;
}
.sign-all-css{
	width: 160px;height: 188px;
	left: 1600px;top: 325px;
	background-image: url(../images/signs/all-css.png);
	animation-duration: 35s;
}
.sign-lots-of-divs{
	width: 102px;height: 120px;
	top: 345px;left: 1150px;
	background-image: url(../images/signs/lots-of-divs.png);
	animation-duration: 56s;
}
.sign-no-js{
	width: 65px;height: 77px;
	top: 348px;
	left: 1150px;
	background-image: url(../images/signs/no-js.png);
	animation-duration: 71s;
}
.sign-best {
	width: 43px;height: 50px;
	top: 350px;left: 1000px;
	background-image: url(../images/signs/best.png);
	animation-duration: 95s;
}