/*
* 功能:公共css
* 作者:eveningwater
* 日期:2017/8/17
*/
body,
html,
div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  background-color: #ffffff;
}
.pw-canvas {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.pw-canvas div {
  position: absolute;
  /*动画持续时间*/
  animation-iteration-count: infinite;
  /*动画速度*/
  animation-timing-function: linear;
}
.pw-canvas:target div:not(.pw-overlay) {
  border: 1px solid #000;
}
.pw-canvas:target div:hover .pw-me div {
  background-color: rgba(255, 255, 255, 0.33);
}
.pw-me {
  top: 50px;
  left: 50%;
  /*动画名称*/
  animation-name: me;
}
.pw-me,
.pw-me div {
  background-repeat: no-repeat;
  /*动画执行时间*/
  animation-duration: 1.77s;
}
.pw-torso {
  width: 90px;
  height: 300px;
  background-image: url(../images/me/torso.png);
}
.pw-arm {
  left: 12px;
  transform-origin: 20px 10px;
}
.pw-right.pw-arm {
  top: 93px;
  animation-name: right-bicep;
}
.pw-left.pw-arm {
  top: 87px;
  animation-name: left-bicep;
}
.pw-bicep {
  width: 55px;
  height: 125px;
}
.pw-right.pw-bicep {
  background-image: url(../images/me/right-bicep.png);
}
.pw-left.pw-bicep {
  background-image: url(../images/me/left-bicep.png);
}
.pw-forearm {
  top: 108px;
  left: 14px;
  width: 40px;
  height: 124px;
  transform-origin: 3px 7px;
}
.pw-right.pw-forearm {
  background-image: url(../images/me/right-forearm.png);
  animation-name: right-forearm;
}
.pw-left.pw-forearm {
  background-image: url(../images/me/left-forearm.png);
  animation-name: left-forearm;
}
.pw-leg {
  left: 6px;
  transform-origin: 30px 20px;
  animation-name: thigh;
}
.pw-right.pw-leg {
  top: 235px;
  animation-name: right-thigh;
}
.pw-left.pw-leg {
  top: 225px;
  animation-name: left-thigh;
}
.pw-thigh {
  width: 70px;
  height: 145px;
}
.pw-right.pw-thigh {
  background-image: url(../images/me/right-thigh.png);
}
.pw-left.pw-thigh {
  background-image: url(../images/me/left-thigh.png);
}
.pw-shin {
  top: 115px;
  width: 50px;
  height: 170px;
  background-image: url(../images/me/shin.png);
  transform-origin: 30px 25px;
}
.pw-right.pw-shin {
  animation-name: right-shin;
}
.pw-left.pw-shin {
  animation-name: left-shin;
}
.pw-foot {
  left: 2px;
  top: 155px;
  width: 70px;
  height: 35px;
  background-image: url(../images/me/foot.png);
  transform-origin: 0 50%;
}
.pw-right.pw-foot {
  animation-name: right-foot;
}
.pw-left.pw-foot {
  animation-name: left-foot;
}
.pw-toes {
  left: 66px;
  top: 9px;
  width: 30px;
  height: 25px;
  background-image: url(../images/me/toes.png);
  transform-origin: 0 100%;
}
.pw-right.pw-toes {
  animation-name: right-toes;
}
.pw-left.pw-toes {
  animation-name: left-toes;
}
.pw-shadow {
  width: 200px;
  height: 70px;
  left: 270px;
  bottom: 5px;
  animation-name: shadow;
}
div.pw-right.pw-arm {
  z-index: 1;
}
div.pw-left.pw-arm {
  z-index: -3;
}
div.pw-arm > div.pw-bicep > div.pw-forearm {
  z-index: -1;
}
div.pw-right.pw-leg {
  z-index: -1;
}
div.pw-left.pw-leg {
  z-index: -2;
}
div.pw-leg > div.pw-thigh > div.pw-shin {
  z-index: -1;
}
.pw-overlay {
  width: 100%;
  height: 100%;
  background: url(../images/misc/gradient-left.png) repeat-y top left,
    url(../images/misc/gradient-right.png) repeat-y top right;
}
.pw-sky div {
  background-repeat: no-repeat;
  animation-name: prop-1200;
}
.pw-cloud-1,
.pw-cloud-2 {
  width: 90px;
  height: 90px;
  animation-duration: 120s;
  background-image: url(../images/clouds/1.png);
}
.pw-cloud-3,
.pw-cloud-4 {
  width: 160px;
  height: 90px;
  background-image: url(../images/clouds/2.png);
  top: 70px;
  animation-duration: 80s;
}
.pw-cloud-5,
.pw-cloud-6 {
  width: 290px;
  height: 65px;
  top: 30px;
  background-image: url(../images/clouds/3.png);
  animation-duration: 140s;
}
.pw-cloud-7,
.pw-cloud-8 {
  width: 100px;
  height: 85px;
  top: 100px;
  background-image: url(../images/clouds/4.png);
  animation-duration: 90s;
}
.pw-cloud-1 {
  left: 0;
}
.pw-cloud-2 {
  left: 1200px;
}
.pw-cloud-3 {
  left: 250px;
}
.pw-cloud-4 {
  left: 1450px;
}
.pw-cloud-5 {
  left: 500px;
}
.pw-cloud-6 {
  left: 1700px;
}
.pw-cloud-7 {
  left: 950px;
}
.pw-cloud-8 {
  left: 2150px;
}
.pw-horizon {
  top: 350px;
  width: 1800px;
  height: 50px;
  background: url(../images/misc/horizon.png) repeat-x;
  animation-name: prop-600;
  animation-duration: 40s;
}
.pw-ground div {
  background-repeat: no-repeat;
  animation-name: prop-2000;
}
.pw-sign-all-css {
  width: 160px;
  height: 188px;
  left: 1600px;
  top: 325px;
  background-image: url(../images/signs/all-css.png);
  animation-duration: 35s;
}
.pw-sign-lots-of-divs {
  width: 102px;
  height: 120px;
  top: 345px;
  left: 1150px;
  background-image: url(../images/signs/lots-of-divs.png);
  animation-duration: 56s;
}
.pw-sign-no-js {
  width: 65px;
  height: 77px;
  top: 348px;
  left: 1150px;
  background-image: url(../images/signs/no-js.png);
  animation-duration: 71s;
}
.pw-sign-best {
  width: 43px;
  height: 50px;
  top: 350px;
  left: 1000px;
  background-image: url(../images/signs/best.png);
  animation-duration: 95s;
}
