@use "sass:list";
@use "sass:math";
@import "./variable.scss";
$btnBgColor:radial-gradient(closest-corner circle at 50% top,#98aee9,#183ad3);
.#{$baseSelector}btn {
    color:$white;
    font-size: math.div(100,4) + px;
    @extend .common-form-style;
    border-color: transparent;
    background: $btnBgColor;
    @extend .base-transition;
    &:hover {
        transform: scale(1.1);
    }
}