* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
    text-align: center;
    background-image: linear-gradient( 135deg, #FFF720 10%, #3CD500 100%);
}
h3 {
    height: 45px;
    margin-top: 2rem;
    color: #fff;
}
small {
    color: #fff;
}
small > span {
    color: #f01000;
}
.btn {
    outline: none;
    padding: .4rem 3rem;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #ffffff;
    cursor: pointer;
    background-image: linear-gradient( 135deg, #70F570 10%, #49C628 100%);
    color: #fff;
}
.btn:hover {
    transform: scale(1.2);
}
.heart {
    width: 25px;
    height: 25px;
    background-color: #f01000;
    position: relative;
    transform: rotate(45deg);
    display: inline-block;
    margin: 0 15px;
}
.heart-scale {
    animation: scale .3s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}
.heart.grow {
    animation: grow .5s ease-in-out;
    transform: scale(0) rotate(45deg);
    z-index: 100;
}
.heart::before,.heart::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f01000;
}
.heart::before {
    left: -15px;
    top: 0;
}
.heart::after {
    left: 0;
    top: -15px;
}
.love {
    background: url("https://www.eveningwater.com/my-web-projects/js/21/img/2.gif")no-repeat center/cover;
    position: relative;
    width: 330px;
    height: 60vh;
    max-width: 100%;
    box-shadow: 0 5px 15px #252525;
    cursor: pointer;
    margin: 2rem auto;
    border-radius: 5px;
}
@keyframes grow {
    to {
        transform: scale(5) rotate(45deg);
        opacity: 0;
    }
}
@keyframes scale {
    0% {
        transform: scale(1) rotate(45deg);
    }
    30%,60% {
        transform: scale(1.2) rotate(45deg);
    }
    90%,99% {
        transform: scale(1.6) rotate(45deg);
    }
    100% {
        transform: scale(1.2) rotate(45deg);
    }
}