.carousel-box {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.carousel-content {
  width: 100%;
  height: 100%;
}

.carousel-item {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}

.carousel-item > a {
  width: 100%;
  height: 100%;
  display: block;
}

.carousel-item > a > img {
  width: 100%;
  height: 100%;
}

.carousel-item > a > span {
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0px;
  padding: 15px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 568px) {
  .carousel-item > a > span {
    padding: 10px;
  }
}

.carousel-item.active {
  display: block;
  left: 0%;
}
.carousel-item.active.left {
  left: -100%;
}
.carousel-item.active.right {
  left: 100%;
}

/*  */
.carousel-item.next,
.carousel-item.prev {
  display: block;
  position: absolute;
  top: 0px;
}
.carousel-item.next {
  left: 100%;
}
.carousel-item.prev {
  left: -100%;
}
.carousel-item.next.left,
.carousel-item.prev.right {
  left: 0%;
}

.carousel-sign {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px 3px;
  border-radius: 6px;
  list-style: none;
  user-select: none;
  background: linear-gradient(135deg,#73a0e4 10%,#1467e4 90%);
}

.carousel-sign li {
  width: 22px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  float: left;
  color: #f2f3f4;
  margin: auto 4px;
  border-radius: 3px;
  cursor: pointer;
}
.carousel-sign li:hover {
  color: #fff;
}
.carousel-sign li.active {
  color: #535455;
  background-color: #ebebeb;
}

.carousel-ctrl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  font-weight: 300;
  user-select: none;
  background: linear-gradient(135deg,#73a0e4 10%,#1467e4 90%);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s linear;
  text-align: center;
  padding: 1rem;
}
@media (max-width: 568px) {
  .carousel-ctrl {
    font-size: 30px;
  }
}
.carousel-ctrl.left {
  left: -50px;
}
.carousel-ctrl.right {
  right: -50px;
}
.carousel-box:hover .carousel-ctrl.left {
  left: 10px;
}
.carousel-box:hover .carousel-ctrl.right {
  right: 10px;
}
.carousel-ctrl:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

