@use "sass:list";
@import "./color.scss";
$baseSelector:gcf-;
$font-family:Avenir, Helvetica, Arial, sans-serif;
$direction:left,top,bottom,right;
$margin:margin;
$padding:padding;
$center:center;
$display:flex,block,inline,inline-block,none,table;
$position:relative,fixed,absolute,sticky,static;
$flex-layout:flex-start,flex-end,$center,space-between,space-around;
$flex-direction:row,row-reverse,column,column-reverse;
$text-align:list.nth($direction,1),$center,list.nth($direction,length($direction));
$font-family:nunito_for_arco,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-weight:normal,lighter,bold,bolder,100,200,300,400,500,600,700,800,900;
$border-style:solid,dashed,list.nth($display,5);
$bg-size:contain,cover;
$cursor:pointer,zoom;
$box-sizing:border-box,content-box;
$overflow:auto,scroll,hidden,visible;
$flex-wrap:wrap,wrap-reverse;
$object-fit:fill,contain,cover,scale-down,list.nth($display,5);
