html {
    overflow: hidden;
}

.main {
    padding: 15px 25px;
}

.text-align-center {
    text-align: center;
}

.block {
    width: 100%;
}

.preview-container {
    border: 1px solid #dadbda;
    padding: 15px;
    border-radius: 4px;
    background: #f1f1f1;
}

.code-container {
    border: 1px solid #dadbda;
    position: relative;
    padding: 20px;
    border-radius: 8px;
}

.code-copy-btn {
    position: absolute;
    right: 5px;
    top: 5px;
}

.code-select {
    width: 200px;
}

.header {
    padding: 8px 25px;
}

.logo {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.description {
    padding: 4px 25px;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 6px 25px;
    background-color: transparent;
}