*{
    margin: 0;
    padding: 0;
    user-select: none;
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #c0c4cc;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #A2A2A3;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #A2A2A3;
    /*滚动条阴影*/
    scrollbar-shadow-color: #A2A2A3;
    /*滚动条轨道颜色*/
    scrollbar-track-color: #f4f4f5;
    /*滚动条3d亮色阴影边框的外观颜色——左边和上边的阴影色*/
    scrollbar-3dlight-color: #A2A2A3;
    /*滚动条3d暗色阴影边框的外观颜色——右边和下边的阴影色*/
    scrollbar-darkshadow-color: #A2A2A3;
    /*滚动条基准颜色*/
    scrollbar-base-color: #f4f4f5;
}
*,*::before,*::after {
    box-sizing: border-box;
}
body,html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif,"幼圆";
    overflow: hidden;
    height: 100%;
    font-size: 16px;
}
button,input,select {
    outline: none;
}
#app {
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-x:hidden;
    overflow-y: auto;
}
#app .page {
    padding: 1rem;
    border: 1px solid #f3f4f5;
    border-radius: 4px;
    box-shadow: 0 2px 3px #f4c6f9;
}
#app h1 {
    text-align: center;
    color: #998765;
    margin-bottom: 10px;
}
#app > .page > .table-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
#app > .page > .table-wrapper > .base-table {
    width: 100%;
    min-width: 1200px;
    border-collapse: collapse;
    border-radius: 4px;
}
#app > .page > .table-wrapper > .base-table,
#app > .page > .table-wrapper > .base-table tr th,
#app > .page > .table-wrapper .base-table tr td {
    border: 1px solid #e3e4e5;
}
#app > .page > .table-wrapper .base-table tr th,
#app > .page > .table-wrapper .base-table tr td {
    text-align: center;
    padding: 12px 16px;
    color: #535455;
}
#app > .page  > .table-header {
    margin-bottom: 10px;
    text-align: right;
}
#app > .page > .base-form {
    padding: 0 20px;
    margin-bottom: 15px;
}
#app > .page > .base-form.base-inline-form .base-form-item {
    display: inline-block;
    vertical-align: middle;
}
.form-item-btnGroup {
    display: flex;
    justify-content: center;
}
.form-item-btnGroup .base-btn {
    margin: 0 8px;
}
.base-form .base-form-item {
    margin: 0 6px 15px 0;
}
#app > .page > .base-form .base-form-item label {
    color: #676869;
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-right: 5px;
}
.base-input {
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid #dadada;
    border-radius: 5px;
}
.base-input:focus {
    border-color: #2396ef;
}
.base-btn {
    display: inline-block;
    padding: 8px 14px;
    border:1px solid #d5d7da;
    cursor: pointer;
    border-radius: 6px;
    background-color: transparent;
    transition: all .2s;
    font-size: 14px;
}
.base-btn:hover {
    border-color: #4097fe;
    color: #4199ef;
}
.base-btn.base-btn-primary {
    background-color: #2396ef;
    border-color: #2497ef;
    color: #ffffff;
}
.base-btn.base-btn-primary:hover {
    background-color: #4eabf3;
    border-color: #50abf1;
    color: #ffffff;
}
.base-btn.base-btn-danger {
    background-color: #ef2323;
    border-color: #ef2424;
    color: #ffffff;
}
.base-btn.base-btn-danger:hover {
    background-color: #f34e4e;
    border-color: #f15050;
    color: #ffffff;
}
@media only screen and (max-width:960px) {
    #app > .page > .base-form.base-inline-form .base-form-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* 清除滑条样式 */
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(244, 245, 245);
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to right,#c8e0f1,#248df7);
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right,#b8daf5,#0672df);
}
